@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Lato&display=swap');
.top{
    /* height: 200px; */
    background-color: #f3ee8c;
    position: relative;
    padding-top: 100px;
    font-family: 'Lato', sans-serif;
}
.thename
{
    font-size: 80px;
    font-family: 'Charmonman', cursive;
}
.middle{
    background-color: #FAC213;
    font-family: 'Lato', sans-serif;
}
.bottom{
    background-color: #F77E21;
    font-family: 'Lato', sans-serif;
}
.top_cloud
{
    position:absolute;
    right: 30%;
    top: 50px;
}

.bottom_cloud
{
    position:absolute;
    top: 180px;
}


h1{
    margin: 0px;
    color: #D61C4E;
}
h2{
    color: #D61C4E;
}
body{
    margin: 0px;
    text-align: center;
}
p{
    margin: 0px;
    color: #34015e;
}